# Node.js
node_modules/
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# VSCode
.vscode/

# SQLite DB (якщо вона генерується динамічно)
*.sqlite
*.sqlite3

# Ignore SQLite database file
/backend/database/dinoGame.db
