/* jersey-25-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Jersey 25";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Jersey/jersey-25-v3-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* underdog-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Underdog";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Underdog/underdog-v23-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --color-primary: #46656f;
  --color-bg: #fbfbfb;
  --color-text: #000000;
  --font-main: "Jersey 25";
  --font-smain: "Underdog";
  --color-w: #ffffff;
}
